*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 221, 221);
    font-family: 'Poppins', sans-serif;
   }

/* .navbar{
    background-color: rgb(240, 221, 221);
    color: white;
} */

.y{
    background-image: url(/img/pexels-athena-2180877.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   width: 100vw;
    height: 100vh
}

.form-login{
    background-color: rgba(0, 0, 0, 0.631);
    margin: 0 auto;
    color: white;
    font-size: 24px;
    width: 500px;
    border:  1px solid rgba(0, 0, 0, 0.097);
    padding: 40px 30px 70px 30px;
    border-radius: 5px;
    margin-top: 200px;
    margin-bottom: 100px;
    box-shadow: 0 0 1em rgb(36, 34, 34);
}

input [type=text] {
    border: none;
    border-bottom: 2px solid red;
}

.logo-login{
    /* padding-left: 600px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

#title-login{
    
    color: rgb(240, 233, 231);
    padding-top: 200px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke-width: 2.5px; /* largura da borda */
    -webkit-text-stroke-color: rgb(26, 25, 25); 
}



