*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 221, 221);
    font-family: 'Poppins', sans-serif;
   }

.y{
    display: flex;
    justify-content: space-between;
    background-image: url(/img/pexels-athena-2180877.jpg);
    background-repeat: no-repeat;
    background-size:cover;
     width: 100%;
    height: 100vh; 
}

.formTeste{
    display: flex;
    justify-content: space-between;
}

.form-login{
    background-color: rgba(0, 0, 0, 0.631);
    margin: 0 auto;
    color: white;
    height: 100vh;
    font-size: 24px;
    width: 500px;
    border:  1px solid rgba(0, 0, 0, 0.097);
    padding: 40px 30px 70px 30px;
    border-radius: 5px;
     margin-left: 340px;
    margin-bottom: 100px;
    box-shadow: 0 0 1em rgb(36, 34, 34);
}

input#password {
    background-color: rgb(243, 237, 237);
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #cac6c6;
    font-family: FontAwesome;
}

input#username{
    background-color: rgb(243, 237, 237);
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #cac6c6;
    font-family: FontAwesome;
}

.titulo{
    padding-top: 170px !important;
    padding-left: 30px !important;
}

#title-login{
    
    color: rgb(240, 233, 231);
    font-family: Poppins;
    padding-top: 200px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
 
}



#title-login-2{
    color: rgb(240, 233, 231);
    font-family: Poppins;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#formulario{
    padding-top: 50px;
}

#icon-pizza{
    font-size: 200px;
    text-align: center;
    padding-left: 130px;
    padding-top: 80px;
}

#acesso{
    font-family: Poppins;
    padding-top: 100px;
     text-align: center;
}



