*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(240, 221, 221);
   }

.y{
    width: 100%;
    height: 100vh; 
    background-image: url(/img/pexels-engin-akyurt-2619970.jpg);
    background-repeat: no-repeat;
    background-size:cover;
     
}

.formTeste{
    display: flex;
    justify-content: space-between;
}


.form-login{
    background-color: rgba(0, 0, 0, 0.631);
    color: white;
    height: 100vh;
    font-size: 24px;
    width: 550px; 
    border:  1px solid rgba(0, 0, 0, 0.097);
    padding: 40px 44px 70px 30px;
    border-radius: 5px;
     /* margin-left: 50px; */
    box-shadow: 0 0 1em rgb(36, 34, 34);
}

input#password {
    /* width: 500px; */
    background-color: rgb(243, 237, 237);
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #cac6c6;
    font-family: FontAwesome;
}

input#username{
    background-color: rgb(243, 237, 237);
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #cac6c6;
    font-family: FontAwesome;
}

.titulo{
    color: black;
    font-family: Poppins;
    margin: 0 auto;
    padding-top: 80px !important;
    /* padding-left: 30px !important; */
}

#title-login{
    padding-bottom: 50px;
    color: rgba(29, 27, 31, 0.987);
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
 
}

#title-login-1{
    color: rgba(80, 63, 228, 0.618);
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


#title-login-2{
    color: rgb(27, 124, 120);
    font-family: 'Playfair Display', serif;
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#formulario{
    padding-top: 50px;
}

#icon-pizza{
    text-align: center;
}

#acesso{
    font-family: Poppins;
     text-align: center;
}


.pizzaa{
    width: 300px;
    transition: transform 8s;
    animation: pizza 8s ease-in-out infinite;
    transform-box: fill-box;
    
}

.pizza{
    transition: transform 4s;
    animation: tirar-pizza 2s ease-in-out ;
    animation-direction: alternate;  
} 


.pizza-3{
    transition: transform 4s;
    animation: tirar-pizza-2 4s ease-in-out;
    animation-direction: alternate;  
} 

.pizza-5{
    transition: transform 4s;
    animation: tirar-pizza-3 6s ease-in-out ;
    animation-direction: alternate;  
} 


@keyframes pizza{

    from{
        transform:rotateZ(0deg); 
    }

    to {
        transform:rotatez(360deg); 
    }
}


@keyframes tirar-pizza{

   from{
       transform:rotateZ(60deg);
       opacity: 0;
   }

   to{
       transform:rotateZ(360deg);
       opacity: default;
   }
}


@keyframes tirar-pizza-2{

    from{
       transform: rotateZ(120deg);
        opacity: 0;
    }
 
    to{
        transform:rotateZ(360deg);
        opacity: default;
    }
 
 
 }

 @keyframes tirar-pizza-3{

    from{
        transform:rotateZ(180deg);
        opacity: 0;
    }
 
    to{
        transform:rotateZ(360deg);
        opacity: default;
    }
 
 
 }




