*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .t{
    background-image: url(/img/trofeu.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   width: 100vw;
    height: 100vh; 
} 

.nav-rank{
    background-color: rgb(28, 27, 27) !important;
    padding: 20px;
}

#title-ranking{
    color: rgb(250, 242, 231);
    font-size: 40px;
    padding-top: 80px;
    text-align: center;
    font-weight: bolder;
    
}

.rank-tabela{
    margin: 0 auto;
    margin-top: 180px;
}


#scroll{

float:left;
width:1000px;
overflow-y: auto;
height: 388px;
}

.paginação{
    padding-right: 630px;
}

#img-money{
    z-index: -1;
    width: 600px;
    height: 60vh;
}

.a{

    display: flex;
    justify-content: space-between;
    
}

td{
    color: blanchedalmond;
}
