*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .t{
    background-image: url(/img/rank.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 100px;
    width: 100%;
    height: 100vh; 
    z-index: -1;
} 

table tbody td { color: rgb(49, 49, 49); }

.nav-rank{
   
    background-color: rgb(28, 27, 27) !important;
    padding: 20px;
}

#title-ranking{
    color: rgb(17, 17, 17);
    font-size: 85px;
    padding-top: 80px;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke-width: 2.5px; /* largura da borda */
    -webkit-text-stroke-color: rgb(250, 240, 240); /* cor da borda */
}

.rank-tabela{
    margin: 0 auto;
    margin-top: 180px;
}


.tbody-rank{

    display: block;
    float:left; 
    width:100%;  
    overflow-y: scroll;
     height: 388px !important; 
}

.thead-rank{
    display: table;
    width: 100%;
}

.paginação{
    padding-right: 630px;
}


.a{

    display: flex;
    justify-content: center;
    
}

#img-rank{
    margin-top: 160px;
    margin-left: 150px;
    width: 500px;
    height: 500px;
}

#voltar{
    font-size: 20px;
}

