
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    padding: 20px;
    background-color: #536aec ;
    color: rgb(252, 243, 243);
}

.formulario{
    display: flex;
    justify-content: space-around;
    
}

h5{
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;
}
.k{
    display: flex;
    justify-content: space-between;
}

span{
    color: rgb(255, 238, 7);
  font-size: 18px;
}

.text-color{
    font-size: 25px;
    color: black;
 
}

.grid{
    width: 800px;
    height: 350px;
    box-shadow: 0 0 1em rgb(36, 34, 34);
    color: white;
    padding: 40px;
    margin-top: 100px;
    margin-bottom: 80px;
    align-items: center;
    border-radius: 20px;
    background-color: #536aec !important;
}

span :hover {
    cursor: pointer;
}

.click{
    color: white !important; 
}

.tabela-task{
   
    float:left;
    width:1000px;
    overflow-y: auto;
    height: 388px;
}

#img-1{
    width: 700px;
    height: 500px;
    z-index: -1;
}


#img-2{
    width: 700px;
    height: 500px;
    z-index: -1;
}


td{
    font-size: 26px;
}

tr td{
    color: black;
}

#teste{
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33)
}

.logout{
    padding: 10px 30px;
}

#title-cad{
    padding: 30px;
}