
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.u{
    background-image: url(/img/pizza-logo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
     width: 100%;
    height: 100%; 
}

.nav-task{
    display: flex;
    justify-content: end;
   
}


.testeClass{
    color: white;
}

.nav-task2{
    
    padding: 20px;
    background-color: #c0858565 ;
}

.nav-task2 span{
    color: white;
    font-size: 24px;
}

.formulario{
    display: flex;
    justify-content: space-around;
    
}

table tbody td { color: rgb(63, 63, 2); }

table tbody { background-color: rgba(255, 255, 255, 0.789); }


h5{
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;
}

.k{
    display: flex;
    justify-content: center;
}

#title-cad{
    color: rgb(255, 238, 7);
  font-size: 18px;
}

.text-color{
    font-size: 25px;
    color: black;
 
}

.grid{
    width: 800px;
    height: 350px;
    box-shadow: 0 0 1em rgb(36, 34, 34);
    color: white;
    padding: 40px;
    margin-top: 100px;
    margin-bottom: 80px;
    align-items: center;
    border-radius: 20px;
    background-color: #536aec7c !important;
}

span :hover {
    cursor: pointer;
}

.click{
    color: rgba(255, 255, 255, 0.912) !important; 
}

.tabela-task{
    display: block;
    float:left; 
    width:100%;  
    overflow-y: scroll;
     height: 388px !important; 
}

.thead-task{
    display: table;
    width: 100%;
}

td{
    font-size: 26px;
}

tr td{
    color: black;
}


.logout{
    padding: 10px 30px;
}

#title-cad{
    padding: 30px;
}

/* TABELA */

.reactive-table-navigation{
    color: white;
}

.reactive-table-options{
    color: white;
}